<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Password</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <style>
        input::placeholder{
            color: black;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="adminpw">
        <ion-icon name="person-outline" class="adminicon"></ion-icon><br>
    <h2>Welcome <%= user.name %></h2>
    <br>
    <form method="post" action="/admin/<%= user.id %>">
        <input type="email" name="enteredemail" placeholder="Enter Email" class="admininp">
        <input type="password" name="enteredpw" placeholder="Enter Password" class="admininp"><br>
        <button type="submit" class="adminbtn">Done</button>
    </form>
</div>
</body>
</html>