<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins choice</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="choice">
    <ion-icon name="person-outline"></ion-icon><br>
    <button type="button" id="registerbtn" onclick="location.href='http://localhost:8080/Newadmin'">SIGN UP</button>
    <button type="button" id="registerbtn" onclick="location.href='http://localhost:8080/Admin'">SIGN IN</button>
</div>
</body>
</html>