<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Exist</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- <style>
    *{
        background-color: white;
    }
    </style> -->
</head>
<body>
    <!-- <h2>User is Exists</h2>
    <h3><= error %></h3> -->
    <div class="error">
    <ion-icon name="alert-circle-outline" class="erroricon"></ion-icon>
    <h1>This user has already been <br>Registered!!</h1>
    <button type="button" class="errorbtn" onclick="location.href='http://localhost:8080/userreg'">
        Retry</button>
    </div>
</body>
</html>