<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong Password</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="error">
        <ion-icon name="alert-circle-outline" class="erroricon"></ion-icon>
        <h1>Incorrect Login Credentials</h1>
        <button type="button" class="errorbtn" onclick="location.href='http://localhost:8080/admin'">
        Retry</button>

    </div>
</body>
</html>