<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <!-- <style>
            *{
                background-color: white;
            }
        </style> -->
</head>
<body>
    <div class="popup" id="popup">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <h2>Thank You!!</h2>
        <p>You Have Registered Successfully:)</p>
        <button type="button" class="thankyoubutton" onclick="location.href='http://localhost:8080/'">OK</button>
    </div>
</body>
</html>