<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To App</title>
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="welcome">
    <h2>Welcome to Zk!!</h2>
    <div class="welbuttons">

    <button type="button" id="registerbtn" onclick="location.href='http://localhost:8080/userreg'">JOIN US TODAY :)
    </button>

    <button type="button" class="adminbutton" onclick="location.href='http://localhost:8080/skey'">ADMIN
    <ion-icon name="person-outline"></ion-icon></button>

    </div>
    </div>
</body>
</html>